opendatasets
torch==2.2.0
torchsummary
pandas
dvc
mlflow
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
pandas
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
python-dotenv
transformers
datasets==2.19.1
transformers[torch]
-e .